<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>天气预报.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E11D7D1C36547E0080F06A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E11D961C36547E0080F06A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E11DA11C36547E0080F06A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
